// Banner

.banner {
  display: flex;
  align-items: center;
  background-color: $white;
  position: relative;
  height: 100vh;
  .row {
    position: relative;
    text-align: center;
    .main-text {
      font-size: $jumbo-font-size;
      text-transform: uppercase;
      letter-spacing: 42px;
      font-weight: 700;
      color: $white;
      position: absolute;
      width: 100%;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      text-align: center;
      mix-blend-mode: difference;
      z-index: 9;
      // animation
      animation-name: moveInLeft;
      animation-duration: 2s;
      animation-timing-function: ease-out;
      @media (max-width: 1440px) {
        font-size: 4.4rem;
        letter-spacing: 36px;
      }
    }

    .main-image {
      width: 555px;
      margin: 0 auto;
      @media (max-width: 1440px) {
        width: 436px;
      }
    }
    .side-img {
      width: 260px;
      position: absolute;
      @media (max-width: 1440px) {
        width: 208px;
      }
      &.left {
        left: 168px;
        top: 12px;
      }
      &.right {
        right: 168px;
        bottom: 12px;
      }
    }
  }
  .scroll {
    font-weight: 700;
    font-size: 0.875rem;
    text-decoration: none;
    letter-spacing: 1.5px;
    color: $black;
    text-transform: uppercase;
    position: absolute;
    bottom: 48px;
  }

  #sd {
    &-container {
      position: fixed;
      bottom: 10px;
      left: 50%;
      transform: translateY(-50%);
    }
  }
}
