.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transform: translateY(-55px);
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-58px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $maroon;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-56px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &-maroon {
    background-color: $dark-maroon;
    color: $white;

    &::after {
      background-color: $dark-maroon;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: 16px;
    color: $maroon;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $maroon;
    padding: 3px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -ms-transition: all 0.2s;
    -o-transition: all 0.2s;
  }

  &:hover {
    background-color: $maroon;
    color: $white;
    box-shadow: 0 1rem 2rem rgba($color: $black, $alpha: 0.5);
    transform: translateY(-2px);
    -webkit-transform: translateY(-2px);
    -moz-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    -o-transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color: $black, $alpha: 0.5);
    transform: translateY(0);
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
  }
}
