.btn {
  &:link,
  &:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    transform: translateY(-55px);
    border-radius: 100px;
    transition: all 0.2s;
    position: relative;
  }

  &:hover {
    transform: translateY(-58px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: $maroon;

    &::after {
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }

  &:active {
    transform: translateY(-56px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  &-maroon {
    background-color: $dark-maroon;
    color: $white;

    &::after {
      background-color: $dark-maroon;
    }
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }

  &-animated {
    animation: moveInBottom 1s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
}
