@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(-55px);
  }
}

@keyframes arrow1 {
  from {
    opacity: 0;
    top: -25px;
  }

  to {
    opacity: 0;
    top: 0px;
  }

  50% {
    opacity: 1;
  }
}

@keyframes arrow2 {
  from {
    opacity: 0;
    top: -35px;
  }

  to {
    opacity: 0;
    top: -10px;
  }

  50% {
    opacity: 1;
  }
}
